<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razzberry</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
   <body onload="loading()">
    <div id="loading"></div>
  <% include ./partials/header.ejs %>
<div class="img4"><div class="row">
    <div class="container">
        <div class="topPart">
            <div class="searchbar">
                <form id="contact-form" method="POST" role="form">
                    <input id="form_name" type="text" name="item" class="form-control" placeholder="Please Enter Item Name*" required="required" data-error="Item name is required.">
                    <label for="form_name"></label>                   
                    <a href="/founditemlist"><br><li  class=" btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1"><i class="fa fa-backward" aria-hidden="true">Go Back</i></li></a>           
                 <div href="/thanks" > </div></form>
    </div>
</div>
    <div class="table-item-lost">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Posted By</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>Company name</th>
                    <th>View Details</th>
                </tr>
            </thead>
                <tbody>
                    
                           <tr><%searchlist.forEach(search=>{%>
                            <td>    <p><%=search.item%>      </p></td>
                            <td>    <p><%=search.name%>      </p></td>
                            <td>    <p><%=search.location%>  </p></td>
                            <td>    <p><%=search.specifications%></p> </td>                            
                            <td>    <p><%=search.care%>      </p></td>
                            <td><button class="use-address btn btn-default btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <a href="\claim " style="color: black;">Apply</a></button>
                            </td>
                        </tr><%})%>    
                </tbody>
        </table>
    </div>
     </div>
    
        <% include ./partials/footer.ejs %>
    <script>
  var preloader = document.getElementById('loading'); 
  function loading() {
    preloader.style.display ='none';
  }
</script>
</body>
    </html>
    